parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$string of function substr expects string, string\\|false\\|null given\\.$#"
			count: 2
			path: src/lib/eZ/RichText/Converter/Render/Embed.php

		-
			message: "#^Parameter \\#1 \\$str of function trim expects string, string\\|false given\\.$#"
			count: 1
			path: src/lib/eZ/RichText/Converter/Render/Template.php
