<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    beStrictAboutTestsThatDoNotTestAnything="false"
    colors="true"
>
  <testsuites>
    <testsuite name="ezrichtext_field_type">
      <directory>tests/lib</directory>
      <directory>tests/bundle</directory>
      <exclude>tests/lib/eZ/API</exclude>
    </testsuite>
  </testsuites>
</phpunit>
