$ez-white: #fff;
$ez-black: #333;

$ez-color-primary: #f15a10;
$ez-color-secondary: #106d95;
$ez-color-warning-pale: #fceaec;
$ez-color-warning-dark: #aa0000;
$ez-color-danger: #d92d42;
$ez-color-positive: #00825c;
$ez-color-base-dark: #555;
$ez-ground-base-pale: #fafafa;
$ez-ground-base-dark: #e5e3e3;

// AlloyEditor
$ez-ae-color-primary: $ez-white !default;
$ez-ae-color-primary-text: $ez-black !default;
$ez-ae-color-secondary: $ez-color-secondary !default;
$ez-ae-color-warning-pale: $ez-color-warning-pale !default;
$ez-ae-color-warning: $ez-color-warning-dark !default;
$ez-ae-color-positive: $ez-color-positive !default;
$ez-ae-color-negative: $ez-color-base-dark !default;
$ez-ae-color-ground: $ez-ground-base-dark !default;
$ez-ae-color-text-hover: #65b6f0 !default;

// Custom tag
$ez-custom-tag-color-border: $ez-color-primary !default;
$ez-custom-tag-color-header-ground: $ez-ground-base-dark !default;
$ez-custom-tag-inline-color-ground: $ez-ground-base-dark !default;
$ez-custom-tag-color-switcher-active: $ez-color-secondary !default;
$ez-custom-tag-color-switcher-inactive: $ez-white !default;
$ez-custom-tag-color-switcher-ground: $ez-white !default;

// Tools
$ez-tools-color-ground: $ez-ground-base-dark !default;
$ez-tools-color-text: $ez-black !default;

// Embed
$ez-embed-color-ground: $ez-ground-base-dark !default;
$ez-embed-color-icon-ground: $ez-white !default;
$ez-embed-color-border: $ez-ground-base-dark !default;

// Formatted
$ez-formatted-color-ground: $ez-ground-base-pale !default;
$ez-formatted-color-border: $ez-ground-base-dark !default;
