// Ibexa colors
$ibexa-color-black: #000000 !default;
$ibexa-color-white: #ffffff !default;

$ibexa-color-primary: #ae1164 !default;
$ibexa-color-primary-200: #eecfe0 !default;

$ibexa-color-light: #e0e0e8 !default;
$ibexa-color-light-300: #f3f3f6 !default;
$ibexa-color-light-100: #fbfbfc !default;

$ibexa-color-dark: #131c26 !default;
$ibexa-color-dark-400: #71767c !default;
$ibexa-color-dark-200: #cfd1d3 !default;

$ibexa-color-danger: #db0032 !default;

$ibexa-btn-focus-box-shadow: 0 0 0 calculateRem(3px) rgba($ibexa-color-primary, 0.2) !default;
$ibexa-btn-hover-box-shadow: 0 calculateRem(22px) calculateRem(24px) 0 rgba($ibexa-color-danger, 0.2) !default;

$ibexa-gradient-danger-primary: linear-gradient(to right, $ibexa-color-danger 0%, $ibexa-color-primary 100%);
