<div class="{% if embedParams.align is defined %}align-{{ embedParams.align }}{% endif %}{% if embedParams.class is defined %} {{ embedParams.class }}{% endif %}">
    {{ ez_http_tag_relation_ids([embedParams.id]) }}
    Content #{{ embedParams.id }}: You do not have permission to view this Content
</div>
