.ez-ae-anchor-edit {
    display: flex;
    padding: calculateRem(8px);
    flex-wrap: wrap;
    max-width: calculateRem(548px);

    &__input-wrapper {
        margin-right: calculateRem(10px);
    }

    &__input-label {
        margin-bottom: calculateRem(4px);
        font-weight: 700;
        font-size: calculateRem(16px);
    }

    &__input {
        width: calculateRem(400px);
    }

    &__actions {
        display: flex;
        justify-content: space-around;
        width: calculateRem(90px);
    }

    &__btn {
        border: none;
        margin-top: calculateRem(18px);
        
        &[disabled] {
            opacity: 0.3;
            cursor: not-allowed;
        }
    }

    &.is-invalid {
        .ez-ae-anchor-edit {
            &__input-label {
                color: $ez-color-warning-dark;
            }

            &__error {
                font-weight: 400;
                display: inline-block;
                margin-left: calculateRem(8px);
            }

            &__input {
                border-color: $ibexa-color-danger;
                background: $ibexa-color-warning-pale;
            }
        }
    }
}
