.ae-ui {
    .ae-container {
        .ez-ae-attributes {
            max-height: 400px;
            overflow: auto;
            padding: calucalteRem(16px);

            .ez-ae-attribute__wrapper {
                margin-bottom: calculateRem(8px);
            }

            .ez-ae-attribute__label {
                margin: calculateRem(8px) 0 calculateRem(12px) 0;
            }

            .ez-btn-ae--attributes-save {
                color: $ibexa-color-primary;
            }
        }
    }
}
