.ae-ui {
    .ae-toolbar-add {
        opacity: 0;
        padding: calculateRem(4px);
    }

    .ae-toolbar {
        .ae-button {
            &.ez-btn-ae {
                width: calculateRem(34px);
                height: calculateRem(34px);
                margin: calculateRem(8px) 0;
                display: flex;
                justify-content: center;
                align-items: center;

                &:first-child {
                    margin-left: calculateRem(8px);
                }

                &:last-child {
                    margin-right: calculateRem(8px);
                }
            }
        }
    }

    .ae-container {
        .ez-ae-edit-link {
            .ez-btn-ae {
                color: $ibexa-white;

                &--clear-link {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    height: calculateRem(36px);
                    display: none;
                }

                &--remove-link,
                &--save-link {
                    width: calculateRem(40px);
                    height: calculateRem(40px);
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &.is-linked {
                .ez-btn-ae {
                    &--clear-link {
                        display: block;
                    }
                }
            }
        }
    }
}
