.ae-ui {
    .ae-toolbar-add {
        opacity: 0;
        padding: calculateRem(4px);
    }

    .ae-toolbar {
        padding: calculateRem(8px);

        .ae-button {
            &.ez-btn-ae {
                width: auto;
                height: auto;
                margin: calculateRem(4px);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .ae-container {
        .ez-ae-edit-link {
            .ez-btn-ae {
                color: $ibexa-white;

                &--clear-link {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    height: calculateRem(36px);
                    display: none;
                }

                &--remove-link,
                &--save-link {
                    width: calculateRem(40px);
                    height: calculateRem(40px);
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &.is-linked {
                .ez-btn-ae {
                    &--clear-link {
                        display: block;
                    }
                }
            }
        }
    }
}
