.ibexa-custom-tag {
    position: relative;
    padding: calculateRem(32px) calculateRem(10px) calculateRem(10px);
    border: calculateRem(1px) solid $ibexa-color-dark-200;

    &__header {
        background-color: $ibexa-color-light-100;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 calculateRem(10px);
        font-size: $ibexa-text-font-size-small;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top-left-radius: $ibexa-border-radius;
        border-top-right-radius: $ibexa-border-radius;
    }

    &[data-ezelement='eztemplateinline'] {
        padding: calculateRem(4px) calculateRem(8px);
    }
}
