.ez-ae-edit-link {
    display: grid;
    padding: calculateRem(8px);
    column-gap: calculateRem(16px);
    grid-template-areas:
        'udw actions'
        'info actions';

    &__row {
        display: flex;
        align-items: flex-end;

        &:first-child {
            margin-bottom: calculateRem(8px);
        }

        &--udw {
            grid-area: udw;
        }

        &--info {
            grid-area: info;
            margin-top: calculateRem(8px);
        }

        &--actions {
            grid-area: actions;
            padding: 0 0 0 calculateRem(14px);
            border-left: calculateRem(2px) solid $ibexa-color-base-pale;
        }
    }

    &__block {
        &--udw {
            display: flex;
            flex-direction: column;
            margin-bottom: 0;
        }

        &--url {
            position: relative;
            display: flex;
            flex-direction: column;
            width: calculateRem(400px);
        }

        &--title,
        &--target {
            display: flex;
            flex-direction: column;

            .ez-ae-edit-link__text {
                font-weight: bold;
                margin-bottom: calculateRem(8px);
            }
        }

        &--title {
            width: calculateRem(464px);
            margin-right: calculateRem(16px);
        }

        &--target {
            .ez-ae-edit-link__choice {
                border: calculateRem(1px) solid $ibexa-color-base-dark;
                border-radius: $ibexa-border-radius;

                .ez-ae-edit-link__label {
                    width: calculateRem(36px);
                    height: calculateRem(36px);
                    margin: 0;

                    .ez-icon {
                        fill: $ibexa-color-base-dark;;
                        width: calculateRem(20px);
                        height: calculateRem(20px);
                    }

                    .ez-btn-ae__icon-wrapper {
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: calculateRem(36px);
                        height: calculateRem(36px);
                    }

                    input:checked + .ez-btn-ae__icon-wrapper {
                        background: $ibexa-color-base-dark;

                        .ez-icon {
                            fill: $ez-ae-color-primary;
                        }
                    }

                    [type='radio'] {
                        display: none;
                    }
                }
            }
        }

        &--separator {
            line-height: calculateRem(36px);
            padding: 0 calculateRem(8px);
        }

        &--actions {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;

        }

        .ez-ae-edit-link__label {
            margin-bottom: calculateRem(4px);
            font-weight: bold;
        }
    }
}
