.ibexa-richtext-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calculateRem(10px);
    background-color: $ibexa-color-light-100;
    padding: 0 calculateRem(16px);
    height: calculateRem(32px);
    border-bottom-left-radius: $ibexa-border-radius;
    border-bottom-right-radius: $ibexa-border-radius;
}
