@mixin checkbox-switcher($size: 2.5rem) {
    $labelHeight: calc(#{$size} - #{calculateRem(16px)});
    $indicatorOffsetLeft: calc(#{$size} / 10);
    $indicatorOffsetRight: calc(calc(#{$size} / 2) - #{$indicatorOffsetLeft});

    .ez-ae-switcher__label {
        position: relative;
        width: $size;
        height: $labelHeight;
        background-color: transparent;
        border-radius: calculateRem(24px);
        cursor: pointer;
        border: calculateRem(1px) solid $ibexa-color-base-dark;

        input {
            opacity: 0;
            height: 1px;
        }

        .ez-ae-switcher__indicator{
            width: calc(#{$size} - #{calculateRem(24px)});
            height: calc(#{$size} - #{calculateRem(24px)});
            display: block;
            background-color: $ibexa-color-base-dark;
            border-radius: 50%;
            position: absolute;
            top: calculateRem(3px);
            left: 0;
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            transform: translateX($indicatorOffsetLeft);
            cursor: pointer;
            z-index: 1;
        }

        &.is-checked {
            background-color: transparent;

            .ez-ae-switcher__indicator {
                transform: translateX($indicatorOffsetRight);
            }
        }


        &.is-disabled {
            opacity: 0.5;
        }
    }
}
